/* PARAGRAPHS */
.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: center;
}

/* ICONS */
.icon-big {
  font-size: 350%;
  display: block;
  color: #6DB8BB;
  margin-bottom: 10px;
  text-align: center;
}

.icon-small {
  font-size: 120%;
  color: #6DB8BB;
}

/* IMAGE DISPLAY */
.section-content {
  padding: 0;
}

.content-showcase {
  list-style: none;
  width: 100%;
}

.content-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.content {
  width: 100%;
  margin: 0;
}

.content img {
  width: 100%;
  height: auto;
}

.clearfix {
  overflow: auto;
}

/* ====================================== */
/* BASIC SETUP */
/* ====================================== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* HEADINGS / TITLES */
h1, h2, h3, h4 {
  font-weight: 300;
  text-transform: uppercase;
}

.section-title h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.section-title h2:after {
  display: block;
  height: 2px;
  background-color: #05647A;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-title p {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-align: center;
}

h4 {
  font-size: 110%;
  margin-bottom: 15px;
}

h6 {
  font-weight: 300;
  text-align: center;
  color: #555;
  margin-bottom: 10px;
}

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  color: #fff;
  background-color: #05647A;
  border: 1px solid #05647A;
  margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
  color: #6DB8BB;
  border: 1px solid #6DB8BB;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #6DB8BB;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
  border: 1px solid #6DB8BB;
}

.btn-ghost:hover, .btn-ghost:active {
  color: #fff;
  border: 1px solid #6DB8BB;
}

/* LINKS */
.view-all {
  text-align: center;
}

.view-all span {
  display: inline-block;
}

.view-all a {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.view-all a::after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  background: #05647A;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
}

.view-all a:hover::after {
  width: 100%;
  left: 0;
  background: #05647A;
}

.view-all-black {
  color: #333;
}

.view-all-white {
  color: #fff;
}

.user a {
  text-decoration: none;
  color: #6DB8BB;
}

input[type="text"], input[type="email"], select, textarea {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-style: italic;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #cccccc;
}

::-webkit-input-placeholder {
  color: #E5E6DB;
}

:-ms-input-placeholder {
  color: #E5E6DB;
}

::-ms-input-placeholder {
  color: #E5E6DB;
}

::placeholder {
  color: #E5E6DB;
}

textarea {
  height: 100px;
}

.contact-form input, .contact-form textarea, .contact-form a {
  margin-top: 15px;
}

/*nav with underlines*/
.main-menu li {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  display: inline-block;
}

.main-menu li a {
  position: relative;
  text-decoration: none;
  color: white;
}

.main-menu li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  background: #05647A;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
}

.main-menu li a:hover::after {
  width: 100%;
  left: 0;
  background: #05647A;
}

/* Sources*/
nav {
  margin-top: 30px;
  padding: 10px;
  color: #fff;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
}

.logo {
  height: 30px;
  width: auto;
  float: left;
  padding: 8px;
}

.logo img {
  height: 10px;
  width: auto;
}

.logo a {
  border-bottom: none;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 300;
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #163C5F;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #6DB8BB;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #333;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

/* ====================================== */
/* HEADER */
/* ====================================== */
header {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  text-align: center;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-text-box p {
  color: #fff;
  margin-bottom: 30px;
  font-style: italic;
}

.home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/roman-bozhko-251412-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/roman-bozhko-251412-unsplash.jpg");
}

.plans {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/lexie-barnhorn-604499-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/lexie-barnhorn-604499-unsplash.jpg");
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/alexa-mazzarello-457546-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/alexa-mazzarello-457546-unsplash.jpg");
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/annie-spratt-608001-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/annie-spratt-608001-unsplash.jpg");
}

.products {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/images/lexie-barnhorn-604499-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/lexie-barnhorn-604499-unsplash.jpg");
}

/* ====================================== */
/* FOOTER */
/* ====================================== */
footer {
  background-color: #05647A;
  padding: 40px 0 10px;
  font-size: 80%;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.footer-nav {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.social-links {
  list-style: none;
  text-align: center;
  margin: 20px 0;
  font-size: 160%;
}

.social-links i {
  color: #fff;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #6DB8BB;
}

/* ====================================== */
/* TESTIMONIALS */
/* ====================================== */
.section-testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/adrien-olichon-761776-unsplash.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/adrien-olichon-761776-unsplash.jpg");
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201c";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}

blockquote a {
  text-decoration: none;
  color: #6DB8BB;
  border-bottom: 1px solid #6DB8BB;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ====================================== */
/* PLANS */
/* ====================================== */
.section-plans {
  background-color: #f2f2f2;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.plan-box div {
  padding: 15px;
  border: 1px solid #f2f2f2;
}

.plan-box ul {
  list-style: none;
}

.plan-box li {
  padding: 8px 0;
}

.plan-box div:last-child {
  text-align: center;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  color: #6DB8BB;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-description {
  font-size: 70%;
  font-weight: 100;
}

/* ====================================== */
/* THE TEAM */
/* ====================================== */
.container-client {
  background-color: #f2f2f2;
}

.user img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.user-icon img {
  border-radius: 100%;
}

/* ====================================== */
/* NEWS AND ARTICLES */
/* ====================================== */
.img-article img {
  margin-bottom: 20px;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* Big tablets to 1200px (widths smaller than the 1140px row in css document */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .step-box {
    margin-top: 10px;
  }
  .step-box:last-child {
    margin-top: 10px;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }
  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 90%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .main-nav {
    display: none;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }
  .app-screen {
    width: 40%;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .steps-box:last-child {
    margin-top: 0;
  }
  .works-step div {
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
  }
  .works-step {
    margin-bottom: 20px;
  }
  .works-step:last-of-type {
    margin-bottom: 20px;
  }
  .social-links {
    list-style: none;
    margin-top: 10px;
    text-align: center;
    float: none;
  }
  .footer-nav {
    list-style: none;
    float: none;
    text-align: center;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  GROUPING  ============================================================================= */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    /*margin: 1% 0 1% 0%;*/
    margin: 0;
  }
}

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
  width: 100%;
}

.span-1-of-2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-2-of-2 {
    width: 100%;
  }
  .span-1-of-2 {
    width: 100%;
  }
}

/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
  width: 100%;
}

.span-2-of-3 {
  width: 66.13%;
}

.span-1-of-3 {
  width: 32.26%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-3-of-3 {
    width: 100%;
  }
  .span-2-of-3 {
    width: 100%;
  }
  .span-1-of-3 {
    width: 100%;
  }
}

/*  GRID OF FOUR   ============================================================================= */
.span-4-of-4 {
  width: 100%;
}

.span-3-of-4 {
  width: 74.6%;
}

.span-2-of-4 {
  width: 49.2%;
}

.span-1-of-4 {
  width: 23.8%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-4-of-4 {
    width: 100%;
  }
  .span-3-of-4 {
    width: 100%;
  }
  .span-2-of-4 {
    width: 100%;
  }
  .span-1-of-4 {
    width: 100%;
  }
}

/*  GRID OF FIVE   ============================================================================= */
.span-5-of-5 {
  width: 100%;
}

.span-4-of-5 {
  width: 79.68%;
}

.span-3-of-5 {
  width: 59.36%;
}

.span-2-of-5 {
  width: 39.04%;
}

.span-1-of-5 {
  width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-5-of-5 {
    width: 100%;
  }
  .span-4-of-5 {
    width: 100%;
  }
  .span-3-of-5 {
    width: 100%;
  }
  .span-2-of-5 {
    width: 100%;
  }
  .span-1-of-5 {
    width: 100%;
  }
}

/*  GRID OF SIX   ============================================================================= */
.span-6-of-6 {
  width: 100%;
}

.span-5-of-6 {
  width: 83.06%;
}

.span-4-of-6 {
  width: 66.13%;
}

.span-3-of-6 {
  width: 49.2%;
}

.span-2-of-6 {
  width: 32.26%;
}

.span-1-of-6 {
  width: 15.33%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-6-of-6 {
    width: 100%;
  }
  .span-5-of-6 {
    width: 100%;
  }
  .span-4-of-6 {
    width: 100%;
  }
  .span-3-of-6 {
    width: 100%;
  }
  .span-2-of-6 {
    width: 100%;
  }
  .span-1-of-6 {
    width: 100%;
  }
}

/*  GRID OF SEVEN   ============================================================================= */
.span-7-of-7 {
  width: 100%;
}

.span-6-of-7 {
  width: 85.48%;
}

.span-5-of-7 {
  width: 70.97%;
}

.span-4-of-7 {
  width: 56.45%;
}

.span-3-of-7 {
  width: 41.94%;
}

.span-2-of-7 {
  width: 27.42%;
}

.span-1-of-7 {
  width: 12.91%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-7-of-7 {
    width: 100%;
  }
  .span-6-of-7 {
    width: 100%;
  }
  .span-5-of-7 {
    width: 100%;
  }
  .span-4-of-7 {
    width: 100%;
  }
  .span-3-of-7 {
    width: 100%;
  }
  .span-2-of-7 {
    width: 100%;
  }
  .span-1-of-7 {
    width: 100%;
  }
}

/*  GRID OF EIGHT   ============================================================================= */
.span-8-of-8 {
  width: 100%;
}

.span-7-of-8 {
  width: 87.3%;
}

.span-6-of-8 {
  width: 74.6%;
}

.span-5-of-8 {
  width: 61.9%;
}

.span-4-of-8 {
  width: 49.2%;
}

.span-3-of-8 {
  width: 36.5%;
}

.span-2-of-8 {
  width: 23.8%;
}

.span-1-of-8 {
  width: 11.1%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-8-of-8 {
    width: 100%;
  }
  .span-7-of-8 {
    width: 100%;
  }
  .span-6-of-8 {
    width: 100%;
  }
  .span-5-of-8 {
    width: 100%;
  }
  .span-4-of-8 {
    width: 100%;
  }
  .span-3-of-8 {
    width: 100%;
  }
  .span-2-of-8 {
    width: 100%;
  }
  .span-1-of-8 {
    width: 100%;
  }
}

/*  GRID OF NINE   ============================================================================= */
.span-9-of-9 {
  width: 100%;
}

.span-8-of-9 {
  width: 88.71%;
}

.span-7-of-9 {
  width: 77.42%;
}

.span-6-of-9 {
  width: 66.13%;
}

.span-5-of-9 {
  width: 54.84%;
}

.span-4-of-9 {
  width: 43.55%;
}

.span-3-of-9 {
  width: 32.26%;
}

.span-2-of-9 {
  width: 20.97%;
}

.span-1-of-9 {
  width: 9.68%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-9-of-9 {
    width: 100%;
  }
  .span-8-of-9 {
    width: 100%;
  }
  .span-7-of-9 {
    width: 100%;
  }
  .span-6-of-9 {
    width: 100%;
  }
  .span-5-of-9 {
    width: 100%;
  }
  .span-4-of-9 {
    width: 100%;
  }
  .span-3-of-9 {
    width: 100%;
  }
  .span-2-of-9 {
    width: 100%;
  }
  .span-1-of-9 {
    width: 100%;
  }
}

/*  GRID OF TEN   ============================================================================= */
.span-10-of-10 {
  width: 100%;
}

.span-9-of-10 {
  width: 89.84%;
}

.span-8-of-10 {
  width: 79.68%;
}

.span-7-of-10 {
  width: 69.52%;
}

.span-6-of-10 {
  width: 59.36%;
}

.span-5-of-10 {
  width: 49.2%;
}

.span-4-of-10 {
  width: 39.04%;
}

.span-3-of-10 {
  width: 28.88%;
}

.span-2-of-10 {
  width: 18.72%;
}

.span-1-of-10 {
  width: 8.56%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-10-of-10 {
    width: 100%;
  }
  .span-9-of-10 {
    width: 100%;
  }
  .span-8-of-10 {
    width: 100%;
  }
  .span-7-of-10 {
    width: 100%;
  }
  .span-6-of-10 {
    width: 100%;
  }
  .span-5-of-10 {
    width: 100%;
  }
  .span-4-of-10 {
    width: 100%;
  }
  .span-3-of-10 {
    width: 100%;
  }
  .span-2-of-10 {
    width: 100%;
  }
  .span-1-of-10 {
    width: 100%;
  }
}

/*  GRID OF ELEVEN   ============================================================================= */
.span-11-of-11 {
  width: 100%;
}

.span-10-of-11 {
  width: 90.76%;
}

.span-9-of-11 {
  width: 81.52%;
}

.span-8-of-11 {
  width: 72.29%;
}

.span-7-of-11 {
  width: 63.05%;
}

.span-6-of-11 {
  width: 53.81%;
}

.span-5-of-11 {
  width: 44.58%;
}

.span-4-of-11 {
  width: 35.34%;
}

.span-3-of-11 {
  width: 26.1%;
}

.span-2-of-11 {
  width: 16.87%;
}

.span-1-of-11 {
  width: 7.63%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-11-of-11 {
    width: 100%;
  }
  .span-10-of-11 {
    width: 100%;
  }
  .span-9-of-11 {
    width: 100%;
  }
  .span-8-of-11 {
    width: 100%;
  }
  .span-7-of-11 {
    width: 100%;
  }
  .span-6-of-11 {
    width: 100%;
  }
  .span-5-of-11 {
    width: 100%;
  }
  .span-4-of-11 {
    width: 100%;
  }
  .span-3-of-11 {
    width: 100%;
  }
  .span-2-of-11 {
    width: 100%;
  }
  .span-1-of-11 {
    width: 100%;
  }
}

/*  GRID OF TWELVE   ============================================================================= */
.span-12-of-12 {
  width: 100%;
}

.span-11-of-12 {
  width: 91.53%;
}

.span-10-of-12 {
  width: 83.06%;
}

.span-9-of-12 {
  width: 74.6%;
}

.span-8-of-12 {
  width: 66.13%;
}

.span-7-of-12 {
  width: 57.66%;
}

.span-6-of-12 {
  width: 49.2%;
}

.span-5-of-12 {
  width: 40.73%;
}

.span-4-of-12 {
  width: 32.26%;
}

.span-3-of-12 {
  width: 23.8%;
}

.span-2-of-12 {
  width: 15.33%;
}

.span-1-of-12 {
  width: 6.86%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span-12-of-12 {
    width: 100%;
  }
  .span-11-of-12 {
    width: 100%;
  }
  .span-10-of-12 {
    width: 100%;
  }
  .span-9-of-12 {
    width: 100%;
  }
  .span-8-of-12 {
    width: 100%;
  }
  .span-7-of-12 {
    width: 100%;
  }
  .span-6-of-12 {
    width: 100%;
  }
  .span-5-of-12 {
    width: 100%;
  }
  .span-4-of-12 {
    width: 100%;
  }
  .span-3-of-12 {
    width: 100%;
  }
  .span-2-of-12 {
    width: 100%;
  }
  .span-1-of-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */