/* ====================================== */
/* FOOTER */
/* ====================================== */


footer {
    background-color: $sea-green;
    padding: 40px 0 10px;
    font-size: 80%;

    p {
        color: $white;
        text-align: center;
        margin-top: 20px;
    }
}

.footer-nav {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.social-links {
    list-style: none;
    text-align: center;
    margin: 20px 0;
    font-size: 160%;

    i {
        color: $white;
    }
}


.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: $white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: $cadet-blue;
}

// .social-links li a:link,
// .social-links li a:visited {
    
// }

