/* ====================================== */
/* BASIC SETUP */
/* ====================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $white;
    color: $dark-gray;
    font-family: $lato, "Arial", sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}