// Brand Colors

$midnight-blue: #163C5F;
$cadet-blue: #6DB8BB;
$sea-green: #05647A;
$coastal-plain: #859684;
$gainsboro: #E5E6DB;
$white: #fff;
$off-white: #f2f2f2;
$light-grey: #cccccc;
$black: #333;
$dark-gray: #555;

// Fonts
$lato: "Lato";

// Font weights